.env

# config files
/conf/disputed_domains.txt
/conf/disputed_ips.txt
/conf/domains_for_dpi_proxy.txt
/conf/ext_proxies.txt
/conf/ext_proxy_whitelist.txt
/conf/domains_for_ext_proxy.txt
/conf/ssh_proxy.conf

/conf/.ssh/**/*
!/conf/.ssh/keygen.sh

# other
/scripts/ext_proxies_list.txt

# servers
/ssh-proxy/remote-server/ssh-shared/etc/passwd
/ssh-proxy/remote-server/ssh-shared/etc/passwd.prev
/ssh-proxy/remote-server/ssh-shared/etc/shadow
/ssh-proxy/remote-server/ssh-shared/etc/shadow.prev
/ssh-proxy/remote-server/**/id_*
/ssh-proxy/remote-server/**/authorized_keys

/ssh-proxy/remote-server/mtproto-shared/**/*
!/ssh-proxy/remote-server/mtproto-shared/.gitkeep
