services:
  pac-server:
    image: busybox:stable-musl
    environment:
      PROXY_COMMAND: "${PROXY_COMMAND:-PROXY 127.0.0.1:8888}"
      EXT_PROXY_COMMAND: "PROXY 127.0.0.1:3128"
    volumes:
      - ./scripts:/opt/adp:ro
      - ./conf:/opt/adp-conf:ro
    ports:
      - 127.0.0.1:8082:8082
    stop_signal: SIGKILL
    entrypoint: '/opt/adp/pac-server.sh -vv'

  dns-proxy:
    image: adguard/dnsproxy:latest
    volumes:
      - ./scripts:/opt/adp:ro
      - ./conf:/opt/adp-conf:ro
    environment:
      BOOTSTRAP_DNS: "9.9.9.9:53"
      DNS_FOR_DISPUTED_DOMAINS: "https://dns9.quad9.net/dns-query"
      DEFAULT_DNS: "127.0.0.11"  # docker
    ports:
      - 127.0.0.1:53:53/tcp  # DNS
      - 127.0.0.1:53:53/udp  # DNS
      - 127.0.0.1:853:853/tcp  # DOT
    entrypoint: '/opt/adp/dnsproxy.sh --verbose'

  ext-proxy:
    build: ./proxy-chain/
    volumes:
      - ./scripts:/opt/adp:ro
      - ./conf:/opt/adp-conf:ro
    ports:
      - 127.0.0.1:3128:3128
    entrypoint: '/opt/adp/proxy-chain.sh'
    command: '--whitelist_file ext_proxy_whitelist.txt --verbose'

  http-proxy:
    build: ./spoof_dpi/
    volumes:
      - ./scripts:/opt/adp:ro
      - ./conf/spoofdpi.toml:/etc/spoofdpi.toml:ro
    depends_on:
      - dns-proxy
      - ext-proxy
    ports:
      - 127.0.0.1:8888:8888
    environment:
      HTTP_PROXY: "http://ext-proxy:3129"
      HTTPS_PROXY: "http://ext-proxy:3129"
      NO_PROXY: "localhost,127.0.0.1"
    entrypoint: '/opt/adp/spoofdpi.sh'
    command: '--https-disorder --https-split-mode chunk --https-chunk-size 3 --log-level trace'

  # test-http-proxy:
  #   build: ./demergi/
  #   ports:
  #     - 127.0.0.1:8888:8888
  #   command: '--addrs 0.0.0.0:8888 --dns-mode dot --dot-server 9.9.9.9 --log-level debug --https-clienthello-size 10'

  socks5-proxy:
    # image: tazihad/byedpi
    build: ./bye_dpi/
    volumes:
      - ./scripts:/opt/adp:ro
    depends_on:
      - dns-proxy
      - ext-proxy
    ports:
      - 127.0.0.1:1080:1080
    environment:
      HTTP_PROXY: "http://ext-proxy:3129"
      HTTPS_PROXY: "http://ext-proxy:3129"
      NO_PROXY: "localhost,127.0.0.1"
    entrypoint: '/opt/adp/bye_dpi.sh'
    # network_mode: "service:dns-proxy"  # join with dns-proxy to has overwritten DNS
    # old:
    # command: '--disorder 1 --fake 1 --ttl 5 --auto=torst --tlsrec 1+s --timeout 1 --debug 1'
    # command: '-s1 -q1 -Y -Ar -s5 -o25000+s -At -f-1 -r1+s -As -s1 -o1+s -s-1 -An -b+500 --debug 1'
    # time to time:
    #command: '-d1+s -o2 -s5 -r5 -a1 --debug 1'
    #command: '-s1 -q1 -a1 -At,r,s -f-1 -r1+s -a1 --debug 1'
    #command: '-s1 -q1 -Y -a1 -At,r,s -f-1 -r1+s -a1 --debug 1'
    #command: '-s1 -q1 -a1 -Y -At -a1 -S -f-1 -r1+s -a1 -As -d1+s -O1 -s29+s -a1 --debug 1'
    #command: 's1 -q1 -a1 -Y -Ar -a1 -s5 -o2 -At -f-1 -r1+s -a1 -As -s1 -o1+s -s-1 -a1 --debug 1'
    # good:
    #command: '-Ku -a1 -An -d1 -s0+s -d3+s -s6+s -d9+s -s12+s -d15+s -s20+s -d25+s -s30+s -d35+s -At,r,s -s1 -q1 -At,r,s -s5 -o25000+s -At,r,s -o1 -d1 -r1+s -t10 -b1500 -s0+s -d3+s -At,r,s -f-1 -r1+s -At,r,s -s1 -o1+s -s-1 --debug 1'
    command: '-o1 -a1 -At,r,s -d1 -a1 --debug 1'
    #command: '-o1 -a1 -Ar -q1 -a1 -At -f-1 -r1+s -a1 --debug 1'
    #command: '-o1 -r-5+se -a1 -At,r,s -d1 -n ya.ru -Qr -f-1 -a1 --debug 1'
    #command: '-o1 -a1 -At,r,s -f-1 -a1 -At,r,s -d1:11+sm -S -a1 -At,r,s -n ya.ru -Qr -f1 -d1:11+sm -s1:11+sm -S -a1 --debug 1'
    #command: '-o1 -d1 -a1 -At,r,s -s1 -d1 -s5+s -s10+s -s15+s -s20+s -r1+s -S -a1 -As -s1 -d1 -s5+s -s10+s -s15+s -s20+s -S -a1 --debug 1'
    #command: '-d1 -d3+s -s6+s -d9+s -s12+s -d15+s -s20+s -d25+s -s30+s -d35+s -r1+s -S -a1 -As -d1 -d3+s -s6+s -d9+s -s12+s -d15+s -s20+s -d25+s -s30+s -d35+s -S -a1 --debug 1'

  # mtproto-proxy:
  #   image: telegrammessenger/proxy:latest
  #   # volumes:
  #   #   - ./mtproto-proxy:/data:ro
  #   ports:
  #     - 127.0.0.1:8443:443   # proxy port
  #     - 127.0.0.1:2398:2398  # for /stats

networks:
  frontend:
    name: dns_proxy_network
    driver: custom-driver-1
